body {
    width: 40%;
    margin: auto;
    margin-top: 7%;
}

div.querybox {
    width: 50%;
    min-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

div.querybox > input {
    width: 80%;
}

div.querybox > button {
    width: 15%;
}

.result-row {
    background-color: aliceblue;
    padding: 13px;
    border-style: solid;
    border-color: white;
    word-wrap: break-word;
}

.result-row.sovf-best {
    background-color: sandybrown;
}